<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463431064647-aqf83mahhh666stg5j46r7a4mv7evk2i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463431064647-aqf83mahhh666stg5j46r7a4mv7evk2i</string>
	<key>API_KEY</key>
	<string>AIzaSyCPFu_TfUgIwbuMiNr2fALGnB1mvUUiqKs</string>
	<key>GCM_SENDER_ID</key>
	<string>463431064647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.passwordSafe</string>
	<key>PROJECT_ID</key>
	<string>passwordsafe-532ca</string>
	<key>STORAGE_BUCKET</key>
	<string>passwordsafe-532ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463431064647:ios:eb857d0d71d24799bce562</string>
</dict>
</plist>